
<%= form_with model: @user, local: true do |form|%>

<p>
<%= form.label :firstname%><br>
<%= form.text_field :firstname%>
</p>

<p>
<%= form.label :lastname%><br>
<%= form.text_field :lastname%>
</p>

<p>
<%= form.label :email%><br>
<%= form.text_field :email%>
</p>

<p>
<%= form.label :age%><br>
<%= form.text_field :age%>
</p>

<p>
<%= form.label :birthday%><br>
<%= form.date_field :birthday%>
</p>

<p>
<%=form.submit 'go'%>
</p>

<%end%>