<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<h1>Edit Posts</h1>


<%= form_with model: @post do |form|%>

<p>
<%= form.label :title%><br>
<%= form.text_field :title%>
</p>

<p>
<%= form.label :content%><br>
<%= form.text_field :content%>
</p>

<%=form.hidden_field :user_id, value: @post_id%>


<p>
<%=form.submit%>
</p>

<%end%>